:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  scroll-behavior: smooth;
  background-color: #EFEEEE;
  --primary-color: black;
  --primary-hover: rgb(85, 84, 84);
  --button-text: #fff;
  --button-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body.dark {
  background-color: #121212;
  color: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body.light {
  --btn-bg: black;
  --btn-text: white;
  --btn-hover-bg: #333;
}

body.dark {
  --btn-bg: white;
  --btn-text: black;
  --btn-hover-bg: #ddd;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: none;
  font-size: 14pt;
}

a:hover {
  transform: translate();
}

h1 {
  line-height: 1.1;
  font-size: 46pt;
  font-weight: 500;
}

p
{
  font-size: 14pt;
}

/* button {
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 4px 8px;
  color: #fff;
  font-size: 14pt;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
} */
/* button:hover {
  
} */


